<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241229525734-go87264enk2o1fmicg5gf64s29bv7jep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241229525734-go87264enk2o1fmicg5gf64s29bv7jep</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241229525734-1vb3d63fn6lggpsu1it3h8vpls4s47oi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA025Lf9ajSx1NHR7zLGdtcFLDkW3mbN2M</string>
	<key>GCM_SENDER_ID</key>
	<string>241229525734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theapp.visionary</string>
	<key>PROJECT_ID</key>
	<string>prueba-jar</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-jar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241229525734:ios:c616d93776d4b3670d8127</string>
	<key>DATABASE_URL</key>
	<string>https://prueba-jar.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9277052423554636~2865002996</string>
</dict>
</plist>